<div class="output-container">
    <div class="output-container__item">
            <ul>
            {{#each this}}
                <li>{{name.official}}</li>
            {{/each}}
            </ul>
    </div>
</div>